
* {
    margin: 0;
      padding: 0;
      box-sizing: border-box;}
    body {
    height: 100vh;
    }
    header {
     height: 15vh;
    
    }
    /* indexHTML */
    
    main {
    height: 100vh;
    }
      
    footer {
    height: 25vh;
background-color: orange;
    }
    
 #quienessomos{
  background-color: white

 }

 #MainIndex{
margin-top: 0px;
 }
    #contenedorimg{
      background-color:#000000;
    }
    #TextoMain_index{
      font-size: 25px;
      background-color: white;
      font-family: 'Rubik', sans-serif;
 }
    body{
      background-color:rgb(33,37,41,255)
    }
    li{
      font-size: 25px;
    }
/* PAGINAOFICIAL */
    
    #mainpagof{
      height: 95vh;
    }
#definicionmain_of{
margin-top: 5px;
}

#Nosotros{
  font-size: 17px;
}
#imagenviejo{
margin-top: 30px;
 width: 315px;
 height: 371px;
}

/* UBICACION */
#Ubicacion{
  margin-top: 20px;
  background-color: white;
}

#explicacion{
  font-size: 20px;
  background-color: white;
  font-family: 'Rubik', sans-serif;
}
#mainpagub{
  height: 95vh;
}

#footerub{
  height: 20vh;
}

#map{
  margin-top: 20px;
}



/* Cocinas */
#NuestrasCocinas{

  background-color: white

  }
  #TiposDecoinas{
    font-size: 25px;
  background-color:white;
  font-family: 'Rubik', sans-serif;
  }

  /* CONTACTO */
  #contacto{
background-color: rgb(189, 132, 0);
margin-top: 50px;

  }